<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>试金石信用服务有限公司</title>
    <link rel="stylesheet" href="/dist/css/1-76c2f90978.css">
    <link rel="stylesheet" href="/dist/css/2-aabfa472ce.css">
    {% block vendor %}{% endblock %}
</head>
<body>
    {% block header %}{% endblock %}
    {% block body %}
    <div class="div1"></div>
    <div class="div2"></div>
    <div class="div3"></div>
    {% endblock %}
    {% block footer %}{% endblock %}
    <script src="/dist/js/1-bd36be6ded.js"></script>
    <script src="/dist/js/2-0730d8e981.js"></script>
</body>
</html>