<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>试金石信用服务有限公司</title>
    <link rel="stylesheet" href="/src/css/1.css">
    <link rel="stylesheet" href="/src/css/2.css">
    {% block vendor %}{% endblock %}
</head>
<body>
    {% block header %}{% endblock %}
    {% block body %}
    <div class="div1"></div>
    <div class="div2"></div>
    <div class="div3"></div>
    {% endblock %}
    {% block footer %}{% endblock %}
    <script src="/src/js/1.js"></script>
    <script src="/src/js/2.js"></script>
</body>
</html>